{% extends "ABCAdmissionBundle::layoutApplicant.html.twig" %}
{% block title %} Applicant Form {% endblock %}

{% block contenido %}
<div class="row-fluid">
   <!-- block -->
   <div class="block">
       <div class="navbar navbar-inner block-header">
        <div class="muted pull-left">Application for Admission - Formulario de Admision</div>
       </div>
   <div class="block-content collapse in">
   <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
       <li class="active"><a href="#personal_data" data-toggle="tab">1. PERSONAL DATA<br>Informaci贸n personal</a></li>
       <li><a href="#school_information" data-toggle="tab">2. SCHOOL INFORMATION<br>Informaci贸n escolar</a></li>
       <li><a href="#question_information" data-toggle="tab">3. CONTACT INFORMATION<br>Informaci贸n de contacto</a></li>
       <li><a href="#contact_information" data-toggle="tab">4. CONTACT INFORMATION<br>Informaci贸n de contacto</a></li>
    </ul>
   <div class="tab-content">
      <div class="tab-pane active" id="personal_data">
          {%include 'ABCAdmissionBundle:ApplicantSteps:personalData.html.twig'%}
      </div>
      <div class="tab-pane" id="school_information">
          
      </div>
      <div class="tab-pane" id="questions_information">
          
      </div>
      <div class="tab-pane" id="contact_information">
          {%include 'ABCAdmissionBundle:ApplicantSteps:contactInformation.html.twig'%}
      </div>
   </div>      
   </div> 
   </div>
   </div> 
</div>

 
{% endblock %}

{% block javascripts %}
{% endblock %}