<table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>IDCARD</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.idCard }}</td>
                <td>{{ entity.lastname ~ ', ' ~ entity.firstname ~ ' '~ entity.middlename }}</td>
                <td>{{ entity.gender}}</td>
                <td>{{ entity.birthdate|date('d-m-Y')}}</td>
                <td>
                  
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="pagination pagination-small pagination-right">
</div>
